Repository MIT-Emerging-Talent/deadline-gamblers, pull requests merged in 2024-01, with the labels that each got.

#50 hash_table challenge: python
  src/brain_teasers/cpp/bst_to_list/src/randomize_array.py
  src/brain_teasers/cpp/bst_to_list/tests/test_randomize_array.py
  src/collections_and_containers/python/hash_table/README.md
  src/collections_and_containers/python/hash_table/src/hash_table.py
  src/graphs/python/a_star/src/graph.py
  src/graphs/python/bellman_ford/src/graph.py
  src/graphs/python/bellman_ford/tests/test_bellman_ford.py
  src/graphs/python/bfs/src/graph.py
  src/graphs/python/bfs/tests/test_bfs.py
  src/graphs/python/dfs/src/graph.py
  src/graphs/python/dfs/tests/test_dfs.py
  src/graphs/python/dijkstra/src/graph.py
  src/graphs/python/dijkstra/tests/test_dijkstra.py
  src/graphs/python/kruskal/src/graph.py
  src/graphs/python/kruskal/tests/test_kruskal.py
  src/graphs/python/prim/src/graph.py
  src/graphs/python/prim/tests/test_prim.py
Labels: Python challenge

#56 deletions to make valid parentheses python
  src/brain_teasers/python/deletions_to_make_valid_parentheses/README.md
  src/brain_teasers/python/deletions_to_make_valid_parentheses/src/deletions_to_make_valid_parentheses.py
Labels: Python challenge, Brain Teasers

#57 design browser history python challenge - python
  src/brain_teasers/python/design_browser_history/README.md
  src/brain_teasers/python/design_browser_history/src/design_browser_history.py
Labels: Python challenge, Brain Teasers

#53 merge sort challenge in python
  src/sorting/python/merge_sort/README.md
  src/sorting/python/merge_sort/src/merge_sort.py
Labels: Python challenge, sorting

#59 randomize array python challenge
  src/brain_teasers/python/randomize_array/README.md
  src/brain_teasers/python/randomize_array/src/randomize_array.py
Labels: Python challenge, Brain Teasers

#58 coins python challenge
  src/dynamic_programming/python/coins/README.md
  src/dynamic_programming/python/coins/src/coin_change.py
  src/dynamic_programming/python/coins/src/coins.py
Labels: Python challenge, Dynamic Programming

#75 Python Challenge: dynamic programming > best_sum
  src/dynamic_programming/python/best_sum/README.md
  src/dynamic_programming/python/best_sum/src/best_sum.py
Labels: Python challenge

#11 Python Challenge: array_product
  src/brain_teasers/python/array_product/README.md
  src/brain_teasers/python/array_product/src/array_product.py
  src/brain_teasers/python/array_product/tests/test_array_product.py
Labels: Python challenge

#67 Python Challenge: backtracking > all_combinations
  src/backtracking/python/all_combinations/README.md
  src/backtracking/python/all_combinations/src/all_combinations.py
Labels: Python challenge

#77 Python Challenge: collections_and_containers > hash_table
  src/collections_and_containers/python/hash_table/README.md
  src/collections_and_containers/python/hash_table/src/hash_table.py
Labels: Python challenge

#79 Python Challenge: brain_teasers > score_after_flipping_matrix
  src/brain_teasers/python/score_after_flipping_matrix/README.md
  src/brain_teasers/python/score_after_flipping_matrix/src/score_after_flipping_matrix.py
Labels: Python challenge

#85 41 challenge all permutations
  src/backtracking/python/all_permutations/README.md
  src/backtracking/python/all_permutations/src/all_permutations.py
  src/sorting/python/insertion_sort/README.md
  src/sorting/python/insertion_sort/src/insertion_sort.py
Labels: Python challenge

#24 Subarray sum
  src/brain_teasers/python/subarray_sum/README.md
  src/brain_teasers/python/subarray_sum/src/subarray_sum.py
Labels: Python challenge
